body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #e2e2e2;
  font-family : Monospace;
}
#author {
  margin:10px;
  position:absolute;
  left: 8%;
  top: 57%;
}
#quote-box {
  position: relative;
  background: #bfcdff;
  width: 450px;
  height: 300px;
  box-shadow: 10px 10px 10px gray;
  border-radius: 20px;
  font-size: 20px;
}
#tweet-quote, #new-quote {
  position: absolute;
  top: 50%;
}
h1{
  position: absolute;
  top: 15%
}
#new-quote {
  position: absolute;
  right: 5%;
  top: 78%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
  cursor: pointer;
  color: #1e2e55;
  font-size: 15px;
  background: #e2e2e2;
}
#new-quote:hover {
  background: gray;
}
#tweet-quote {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 5%;
  top: 76%;
  border-radius: 50px;
  box-shadow: 5px 5px 10px black;
  cursor: pointer;
}
#text {
  position: absolute;
  left: 10%;
  margin: 30px;
  top: 10%;
}


